/**
 * Created at 2020/05/27 10:29
 *
 * @author Liangcheng Juves
 */

@charset "utf-8";
* {
  font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: white;
}

body {
  background-color: #1e1e1e;
}
